.bg{
	
	height: 667px;
	background-color:#282828;
}

#bannerindividual {
	padding-top: 15px;
	padding-bottom: 15px;
	background	: #282828;
}

.section_nav .button-group a{
	background-color: #000000;
}
